.intro {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
}

.headshot {
  width: 200px;
}
.headpic {
  margin: 0 auto;
}
.bio {
  padding: 20px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

.assign {
  background-color: dodgerblue;
  padding: 10px;
  color: #fff;
  font-family: sans-serif;
  width: 30%;
  text-align: center;
  border-radius: 25px;
  margin: 0 auto;
}
.assign a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 47.5em) {

  .intro {
    max-width: 960px;
    display: flex;
    flex-direction: row;
  }
  .bio {
    text-align: left;
  }
  .subContainer {
    flex-direction: column;
  }
  .assign {
    margin-left: 15px;
  }
}
